<div class="grid place-items-center">
    <div class="card lg:w-96 w-72 bg-base-100 shadow-xl mt-12">
        <figure><img class="h-72" src={{image}} alt="no photo" /></figure>
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <p class="text-xs">{{years}}</p>
            <div class="card-actions justify-end">
                <button class="btn btn-warning" (click)="delete()">Remove</button>
                <button class="btn btn-accent">{{imdbID}}</button>
            </div>
        </div>
    </div>
</div>