<div class="grid place-items-center">
    <div class="card lg:w-96 w-72 bg-base-100 shadow-xl mt-12">
        <figure><img src="https://avatars.dicebear.com/api/identicon/your-custom-seed.svg" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <p class="text-xs">{{data}}</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">ADD me</button>
                <button class="btn btn-accent">IMDb</button>
            </div>
        </div>
    </div>
</div>